.burger_constructor{
    display: 'flex';
    flexDirection: 'column';
    width: 600px;
}
.wrapper{
    max-height: 560px;
    overflow-y: scroll;
}
.element{
    display: flex;
    align-items: center;
}
.bottom{
    display:flex;
    justify-content: end;
}
.bottom .price{
    display: flex;
    align-items: center;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
}
.empty_constructor{
    font-family: 'Jet Brains Mono';
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
}