@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
