@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
@import '~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a svg{color: #8585AD; fill: #8585AD; text-decoration: none; }
a:hover, a:hover svg{color: white; fill: white;}


.container{
  max-width: 1240px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo svg{
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.scroll{
/*For Firefox*/
  scrollbar-width: thin;  
  scrollbar-color: blue orange;
}
.scroll::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
}
.scroll::-webkit-scrollbar-track {
  background: #2F2F37;        /* цвет дорожки */
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;    /* цвет плашки */ /* padding вокруг плашки */
}
