.wrapper{
    width: 600px;
}
.h2{
    font-family: 'Jet Brains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.flex{display: flex;}

.wrapper_indredients{
    max-height: 700px;
    overflow-y: scroll;
}

.counter{
    position: absolute;
    width: 100%;
}

.title{
    margin: 0;
}

.ingredient_list{
    display: flex;
    flex-wrap: wrap;
}

